Importing the Dependencies

In [3]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.metrics import accuracy_score

Data collection and analysis

In [5]:
df=pd.read_csv("C:\\Users\\USER\\Desktop\\Machine Learning\\diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
#number of rows and columns
df.shape

(768, 9)

In [7]:
df.describe()# Measures statistics values

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [12]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [13]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [15]:
#Seprating datas and lables 
X=df.drop(columns='Outcome',axis=1)
Y=df['Outcome']

Data Standardization

In [20]:
scaler=StandardScaler()

In [22]:
scaler.fit(X)

StandardScaler()

In [23]:
standardiazed_data=scaler.transform(X)

In [24]:
print(standardiazed_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [25]:
X=standardiazed_data
y=df['Outcome']

In [30]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [31]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

Model Training

In [32]:
classifier=svm.SVC(kernel='linear')

In [33]:
#Training the super vector machine classifier 
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

Model Evaluation

In [34]:
#Evaluating the training data
X_train_predection=classifier.predict(X_train)
X_train_accuracy=accuracy_score(X_train_predection,Y_train)

In [36]:
print('Accuracy of training dataset is:',X_train_accuracy)

Accuracy of training dataset is: 0.7866449511400652

In [40]:
#Evaluating the testing data
X_test_predection=classifier.predict(X_test)
X_test_accuracy=accuracy_score(X_test_predection,Y_test)

In [41]:
print('Accuracy of testing dadaset is:',X_test_accuracy)

Accuracy of testing dadaset is: 0.7727272727272727

Making a predective system

In [48]:
input_data=(1,189,60,23,846,30.1,0.398,59)
#converting input data into numpy array 
input_data_as_numpy_array=np.asarray(input_data)
#Reshape the numpy array as we are predecting for one instances 
reshaped_input_data=input_data_as_numpy_array.reshape(1,-1)
#Standardized input data
std_data=scaler.transform(reshaped_input_data)
predection=classifier.predict(std_data)
print(predection)

[1]

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [49]:
if(predection==0):
    print("The person is no Diabetes")
else:
    print("The person is Diabetes")

The person is Diabetes